.TouchSwipeHint {
  display: inline-block;

  transform-origin: 50% 50%;
  animation: touchHintAnimation 3s infinite 0s linear;
}

@keyframes touchHintAnimation {
  0% {
    transform: scale(1) translateX(20px);
  }
  5% {
    transform: scale(1) translateX(20px);
  }
  8% {
    transform: scale(0.9) translateX(20px);
  }
  12% {
    transform: scale(0.9) translateX(20px);
  }
  35% {
  }
  75% {
    transform: scale(0.9) translateX(0);
  }
  100% {
    transform: scale(1) translateX(20px);
  }
}
